@font-face {
  font-family: 'WooridaumB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/WooridaumB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.App {
  font-family:'WooridaumB';
  display: flex;
  justify-content: center;
  align-items:center;
  min-height: 100vmin;
  flex-direction: column;
  text-align: center;
  font-size : 1vmax;
  
}
.TimeNow {
  font-size : 4vmax;
  
}

.TimeLater {
  font-size : 3vmax;
}

.FadeText {
  padding-top: 1%;
}

.Moon {
  width: 30vmin;
  animation: fadein 3.5s ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translatey(20px);
    }
    to {
        opacity: 1;
        transform: translatey(0px);
    }
}